<div class="span12">
    <div class="control-group">
        <div class="padding10">
            The story of <b> The Online Book ShoppingCart </b> began when we got any idea to make buying books easier.
            This project was started with a vision to make online trading of books easy and a 100% quality guarantee and give customer an option to buy their favroite books from home.
        </div>

        <div class="padding10">
            This next generation website will offer every kind of option which will make buying books online so comfortable using secure online payment systems.
        </div>

        <div class="padding10">
            This is also helps to buyers as they get free delivery of their products. In future, they can also track their orders and make sure when its going to deliver.
        </div>
    </div>
</div>