<div class="login-form">
    <form class="col-sm-5">
        <label class="control-label">
            Enter your login information.
        </label>
        <div class="form-group">
            <label class="control-label">User Name</label>
            <input type="text" class="form-control" ng-model="user.LogonName" />
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="text" class="form-control" ng-model="user.Password" />
        </div>
        <div>
            <button class="btn btn-primary" ng-click="doLogin()">Submit</button>
        </div>
        <div><a href="/signup">Click here to Signup</a></div>

    </form>
</div>