<div class="register-form">
    <div>
        <h3> Create Your email account. </h3>
    </div>
    <form class="col-sm-4">
        <div class="form-group">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control" ng-model="user.LogonName" />
        </div>
        <div class="form-group">
            <label>Email Id</label>
            <input type="text" class="form-control" ng-model="user.EmailId" />
        </div>
        <div class="form-group">
            <label class="">Full Name</label>
            <input type="text" class="form-control" ng-model="user.FullName" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" ng-model="user.Password" />
        </div>
        <div class="form-group">
            <label>Re-Password</label>
            <input type="text" class="form-control" ng-model="user.RePassword" />
        </div>
        <div>
            <button class="btn btn-primary" ng-click="doRegistration()">Submit</button>
        </div>
    </form>
</div>