<div>
	<div class="top-content">
	 	<div class="sender-info">
			<div class="col-sm-1 img"></div>
	        <div class="col-sm-2 label">
	           <div> <label>Manoj </label> </div>
	           <div>Banglore, India</div>
	        </div>
	 	</div>
		 <div class="row toolbar">
          <div class="col-sm-12 pull-left">
            <span class="col-sm-1">
               <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            </span>
            <span class="col-sm-1">
               <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
            </span>
            <span class="col-sm-1">
               <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </span>
            <span class="col-sm-1">
               <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
            <span class="col-sm-1">
               <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            </span>
          </div>               
    </div>
    </div>			

    <div class="detail-content" *ngIf="email">	
        <div> {{email.Message}}</div>
    </div>
</div>