<div class="compose-panel">
    <div class="col-sm-12 top-content">            
        <div class="col-sm-12 alert" *ngIf="alerts.length">   
           <alert *ngFor="#alert of alerts;#i = index" [type]="alert.type" dismissible="true" dismissOnTimeout="5000">
            {{ alert?.msg }}
          </alert>           
        </div>
    </div>
    <div class="col-sm-12 compose-body">
        <form class="form-horizontal">
            <div class="row form-group">  
               <div class="">
                  <input class="form-control" placeholder="To" [(ngModel)]="email.ToUser" />  
               </div>        
                <div class="">
                  <input class="form-control" placeholder="Subject" [(ngModel)]="email.Subject" />   
                </div>
            </div>  
            <div class="row">
                <ckeditor class="ckeditor" id="editor1" [(ngModel)]="ckeditorContent" [config]="config" ></ckeditor>
            </div>   
        </form>		 
    </div>
    <div class="col-sm-12 compose-footer">
          <button class="btn btn-primary" (click)="onSendEmail()">Send</button>
          <button class="btn btn-default" (click)="onDiscardEmail()">Discard</button>
    </div>
</div>